<!-- <web-app 
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">        
<web-app> -->
 <!-- Display Name --> 
  <!-- <display-name>Archetype Created Web Application</display-name> -->

  <!-- Context Parameters -->
  <!-- <context-param>
    <param-name>appName</param-name>
    <param-value>MyECommerceApp</param-value>
  </context-param> -->



<!--  &lt;!&ndash; Filter Configuration &ndash;&gt;-->
<!--  <filter>-->
<!--    <filter-name>AuthenticationFilter</filter-name>-->
<!--    <filter-class>gov.iti.jets.filter.AuthenticationFilter</filter-class>-->
<!--  </filter>-->


<!--  <filter-mapping>-->
<!--    <filter-name>AuthenticationFilter</filter-name>-->
<!--    <url-pattern>/user/*</url-pattern>-->
<!--  </filter-mapping>-->

<!--  &lt;!&ndash; Listener Configuration &ndash;&gt;-->
<!--  <listener>-->
<!--    <listener-class>gov.iti.jets.listener.ApplicationListener</listener-class>-->
<!--  </listener>-->

  <!-- Session Configuration -->
  <!-- <session-config>
    <session-timeout>30</session-timeout>
  </session-config> -->

  <!-- Welcome File -->
  <!-- <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list> -->

  <!-- Error Pages -->
 <!-- <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/jsp/error404.jsp</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error404.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/jsp/error500.jsp</location>
  </error-page>-->
<!-- </web-app>  -->